---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ButtonSubmit from '../components/ButtonSubmit.svelte';
---

<Layout title='Fix My Spelling AI'>
  <main class='container max-w-lg m-auto flex flex-col'>
    <header>
      <h1>Fix My English! 🧡</h1>
    </header>
    <div class='mb-3 xl:w-96'>
      <label for='result' class='form-label inline-block mb-2 text-gray-700'
        >Insert your english text to fix</label
      >
      <textarea
        class='form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none'
        id='result'
        rows='3'
        placeholder='Your message'></textarea>
    </div>
    <div>
      <ButtonSubmit client:visible />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
